@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");


* {

    margin: 0;
    padding: 0;
}
  
/* Navigation */

.navigation {
    margin-top: 25px;

    height: 74px;
    /* background-color: #FFC017; */
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    align-items: center;
}

.left {
    font-size: 30px;
    display: flex;

}

.left ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 6.5rem;
    font-size: 15px;
    /* font-weight: bold; */
}

.left ul li {
    list-style: none;
    margin: 0 1.1rem;
    font-family: 'Times New Roman', Times, serif;
    /* background-color: rgb(255, 255, 255); */

}

.left ul li a {
    text-decoration: none;
    color: black;
    

}

.left ul li a:hover {
    color:#ffbb00;
}



/* utility classes */

.max-width-1{
    max-width:  80vw;
   
}

.max-width-2{
max-width: 60vw;
}

.m-auto {
    margin: auto;
}

/* carousel */

.container{
    margin: auto;
    position: relative;
    overflow: hidden;
    width: 100%;
    /* changed */
    height: 45vw;
}

.container .slider{
    position: absolute;
    top: 0;
    left:0;
    width:500%;
    height: 100%;
   animation:animate 20s linear infinite ;
}

.container .slider .slide{
    position: relative;
    width:20%;
    height:100%;
    float:left;
}

.container .slider .slide .caption{
    position: absolute;
    bottom: 10px;
    left: 60px;
    right: 60px;
    padding: 30px;
    background: rgba(0,0,0,0.5);
    box-sizing: border-box;
    transition: 40s;
}

.container .slider .slide .caption h2{
    text-align: center;
    margin: 0 0 20px;
    padding: 0;
    color: #fff;
     font-size: 40px;
    transition: 40s;
}

.container .slider .slide .caption p{
    margin: 0;
        padding: 0;
        color: #fff;
        font-size: 14px;
    }
.container .slider .slide.slide1{
    background-image: url(crop1.png);
    background-size: cover;
    background-position: center;
}

.container .slider .slide.slide2{
    background-image: url(crop2.png);
    background-size: cover;
    background-position: center;
}
.container .slider .slide.slide3{
    background-image: url(crop3.png);
    background-size: cover;
    background-position: center;
}
.container .slider .slide.slide4{
    background-image: url(crop4.png);
    background-size: cover;
    background-position: center;
}
.container .slider .slide.slide5{
    background-image: url(crop5.png);
    background-size: cover;
    background-position: center;
}

@keyframes animate
{ 0%{
left:0;
}

20%{
left: 0;
}

25%{
left: -100%;
}
45%{
left:-100%;
}

50% {
    left: -200%;
}

70% {
    left: -200%;
}

75% {
    left: -300%;
}

95% {
    left: -300%;
}

100%{
    left:-400%;
}

}

@media (max-width:768px)
{
.container .slider .slide .caption {
        bottom: 20px;
        left: 20px;
        right: 20px;
        padding: 20px;
    }
.container .slider .slide .caption h2 {
    margin: 0 0 10px;
    font-size: 30px;
}
   
.container .slider .slide .caption p {
    
    font-size: 16px;
}
}
